@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
@import url('https://fonts.googleapis.com/css?family=Abel|Bubbler+One|Inconsolata');


.one-time{
    margin-left: 2%;
    margin-right: 2%;
    height: fit-content;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.navbar-brand{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 200%;
  color: #fff;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 160%;
  font-weight:500;
  margin:0;
  overflow-x:hidden;
}

#topnav{
  height:75px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700px;
}
#topnav > * {
  position: relative;
  top:7px;
}
#search{
  position: relative;
  left:360px;
}
#search_btn{
  position: relative;
  left:360px;
}

#shoppingcart{
  position: relative;
  right: 240px;
}
.footer{
  background:#000000;
  padding:10px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:1.0em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  
}